h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input {
  align: "center";
}

section {
  clear: "both";
}
